<div class="contenedor">
  <div class="header">
    @if (mode === 'create') {
    <h1 class="color-blanco cliente-titulo">Crear Producto</h1>
    } @else if (mode === 'edit') {
    <h1 class="color-blanco cliente-titulo">Editar Producto</h1>
    } @else {
    <h1 class="color-blanco cliente-titulo">Ver Producto</h1>
    }
  </div>


  <div class="shadow-box">
    <div class="block-form-person-type">
      @if (product.productId !== '' && product.productId !== ' ') {
      <div class="campos">
        <div>
          <label class="color-blanco">Categoria</label>
        </div>
        <div class="campo-input">
          <input [(ngModel)]="product.price" type="category" [readonly]="true">
        </div>
      </div>
      <div class="campos">
        <div>
          <label class="color-blanco">Marca</label>
        </div>
        <div class="campo-input">
          <input [(ngModel)]="product.price" type="brand" [readonly]="true">
        </div>
      </div>
      <div class="campos span-2">
        <div>
          <label class="color-blanco">Producto ID</label>
        </div>
        <div class="campo-input">
          <input [(ngModel)]="product.price" type="productId" [disabled]="true">
        </div>
      </div>
      }
      <div class="campos">
        <div>
          <label class="color-blanco">Nombre Producto</label>
        </div>
        <div class="campo-input">
          <input [(ngModel)]="product.price" [readonly]="!canEdit('productName')">
        </div>
      </div>
      <div class="campos">
        <div>
          <label class="color-blanco">Fecha de Vencimiento</label>
        </div>
        <div class="campo-input">
          <input [(ngModel)]="product.price" type="text" [disabled]="!canEdit('createdAt')">
        </div>
      </div>
            <div class="campos span-2">
        <div>
          <label class="color-blanco">Descripción</label>
        </div>
        <div class="campo-input">
          <input [(ngModel)]="product.price" type="descri">
        </div>
      </div>
      <div class="campos">
        <div>
          <label class="color-blanco" class="color-blanco">Código SKU</label>
        </div>
        <div class="campo-input">
          <select class="form-select" name="enabled" [disabled]="!canEdit('')" [(ngModel)]="product.price"
            (ngModelChange)="onEnabledChange($event)" required>
            <!-- Placeholder: seleccionado solo cuando el valor es '' -->
            <option value="" disabled>
              Seleccione opción
            </option>

            <!-- Opciones reales -->
            @for (pt of types; track pt) {
            <option [value]="pt">
              {{ pt ? 'Sí' : 'No' }}
            </option>
            }
          </select>
        </div>
      </div>

      <div class="campos">
        <div>
          <label class="color-blanco" class="color-blanco">Habilitado</label>
        </div>
        <div class="campo-input">
          <select class="form-select" name="enabled" [disabled]="!canEdit('')" [(ngModel)]="product.price"
            (ngModelChange)="onEnabledChange($event)" required>
            <!-- Placeholder: seleccionado solo cuando el valor es '' -->
            <option value="" disabled>
              Seleccione opción
            </option>

            <!-- Opciones reales -->
            @for (pt of types; track pt) {
            <option [value]="pt">
              {{ pt ? 'Sí' : 'No' }}
            </option>
            }
          </select>
        </div>
      </div>
    </div>
    @if(mode !== 'view') {
    <div class="flex">
      <div class="btn-right">
        <button class="btn btn-primary" (click)="save()">Guardar</button>
      </div>
    </div>
    }
  </div>
</div>