<div class="contenedor">
  <div class="header">
    @if (mode === 'create') {
    <h1 class="color-blanco cliente-titulo">Crear Producto</h1>
    } @else if (mode === 'edit') {
    <h1 class="color-blanco cliente-titulo">Editar Producto</h1>
    } @else {
    <h1 class="color-blanco cliente-titulo">Ver Producto</h1>
    }
  </div>


  <div class="shadow-box">
    <div class="block-form-person-type">
      <div class="campos">
        <div>
          <label class="color-blanco">Categoria</label>
        </div>
        <div class="campo-input">
          <select class="form-select" [disabled]="!canEdit('category')" [(ngModel)]="selectedCategory"
            (ngModelChange)="onCategorySelected($event)" required>
            <!-- Placeholder: seleccionado solo cuando el valor es '' -->
            <option value="" disabled>
              Seleccione opción
            </option>

            <!-- Opciones reales -->
            @for (pt of categories; track pt) {
            <option [value]="pt.categoryId">
              {{ pt.category}}
            </option>
            }
          </select>
        </div>
      </div>
      <div class="campos">
        <div>
          <label class="color-blanco">Marca</label>
        </div>
        <div class="campo-input">
          <select class="form-select" name="enabled" [disabled]="!canEdit('brand')" [(ngModel)]="selectedBrand"
            (ngModelChange)="onBrandSelected($event)" required>
            <!-- Placeholder: seleccionado solo cuando el valor es '' -->
            <option value="" disabled>
              Seleccione opción
            </option>

            <!-- Opciones reales -->
            @for (pt of brans; track pt) {
            <option [value]="pt.brandId">
              {{ pt.brand }}
            </option>
            }
          </select>
        </div>
      </div>
      @if (mode !== 'create') {
      <div class="campos span-2">
        <div>
          <label class="color-blanco">Producto ID</label>
        </div>
        <div class="campo-input">
          <input [(ngModel)]="product.productId" type="productId" [disabled]="true">
        </div>
      </div>
      }
      <div class="campos">
        <div>
          <label class="color-blanco">Nombre Producto</label>
        </div>
        <div class="campo-input">
          <input [(ngModel)]="product.productName" [readonly]="!canEdit('productName')">
        </div>
      </div>
      <div class="campos">
        <div>
          <label class="color-blanco">Fecha de Vencimiento</label>
        </div>
        <div class="campo-input">
          <input [(ngModel)]="product.expirationDate" type="text" [disabled]="!canEdit('createdAt')">
        </div>
      </div>
      <div class="campos span-2">
        <div>
          <label class="color-blanco">Descripción</label>
        </div>
        <div class="campo-input">
          <input [(ngModel)]="product.descriptionProduct" type="descri" [disabled]="!canEdit('')">
        </div>
      </div>
      <div class="campos">
        <div>
          <label class="color-blanco" class="color-blanco">Código SKU</label>
        </div>
        <div class="campo-input">
          <input [(ngModel)]="product.code" type="code" [disabled]="!canEdit('code')">
        </div>
      </div>
      <div class="campos">
        <div>
          <label class="color-blanco" class="color-blanco">Precio</label>
        </div>
        <div class="campo-input">
          <input [(ngModel)]="product.price" type="code" [disabled]="!canEdit('')">
        </div>
      </div>
      <div class="campos">
        <div>
          <label class="color-blanco" class="color-blanco">IVA %</label>
        </div>
        <div class="campo-input">
          <input [(ngModel)]="product.iva" type="code" [disabled]="!canEdit('')">
        </div>
      </div>
      <div class="campos">
        <div>
          <label class="color-blanco" class="color-blanco">Stock</label>
        </div>
        <div class="campo-input">
          <input [(ngModel)]="product.stock" type="code" [disabled]="!canEdit('')">
        </div>
      </div>
            <div class="campos span-2">
        <div>
          <label class="color-blanco">Imagen</label>
        </div>
        <div class="campo-input">
          <input [(ngModel)]="product.image" [disabled]="!canEdit('')">
        </div>
      </div>
    </div>
    @if(mode !== 'view') {
    <div class="flex">
      <div class="btn-right">
        <button class="btn btn-primary" (click)="save()">Guardar</button>
      </div>
    </div>
    }
  </div>
</div>