@use '../base/variables' as v;

.page{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 1rem;
  margin-bottom: 2.5rem;
}

.card{
  width: 100%;
  background: transparent;
  border-radius: 0.12rem;
  box-shadow: 0 0.8rem 2.5rem rgba(0,0,0,.08);
}

.header{
    margin-top: 2rem;
  display: flex-box;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;

  .cliente-titulo{
    text-align: center;
  }

  .bnt-rigth{
    display: flex;
    justify-content: flex-end;
  }
}

.table-wrapper{
  overflow-x: auto;
}

.table{
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td{
  text-align: left;
  padding: 0.9rem 0.8rem;
  border-bottom: 1px solid v.$oscuro;
  white-space: nowrap;
}

.table thead th{
  background: transparent;
  font-weight: 700;
}

.actions{
  text-align: right;
  width: 160px;
}

.empty{
  text-align: center;
  padding: 1.5rem;
  color: #777;
}

/* Botones básicos */
.btn{
  border: none;
  padding: 0.5rem .9rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 2rem;
}

.btn-primary{
  background: v.$azul;
  color: #fff;
  padding: 2rem 1rem;
  font-size: 3rem;
}

.btn-danger{
  background: #dc2626;
  color: #fff;
}

.btn-success{
  background-color: v.$azul;
  color: v.$blanco;
}

.table-header{
  background-color: v.$secundario;
}

.table th, .table td{
  padding: 2rem 0.8rem;
}

.btn:hover{
  filter: brightness(0.95);
}

.table tbody tr:nth-child(odd) {
  background: rgba(255, 255, 255, 0.03);  // leve diferencia
}

.table tbody tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.06);
}

.table tbody tr:hover{
  background: v.$secundario;
}