<div class="contenedor">
  <div class="header">
    @if (mode === 'create') {
    <h1 class="color-blanco cliente-titulo">Crear Usuario</h1>
    } @else if (mode === 'edit') {
    <h1 class="color-blanco cliente-titulo">Editar Usuario</h1>
    } @else {
    <h1 class="color-blanco cliente-titulo">Ver Usuario</h1>
    }
  </div>


  <div class="shadow-box">
    <div class="block-form-person-type">
      <div class="campos autocomplete campos span-2">
        <label class="color-blanco">Buscar Cliente</label>

        <input type="text" placeholder="Escriba nombre o documento" [(ngModel)]="searchTerm" (input)="onSearchClient()"
          (focus)="showDropdown = true" (ngModelChange)="onDeselect($event)" />

        @if (showDropdown && clients.length > 0) {
        <div class="dropdown-table">
          <table>
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Documento</th>
              </tr>
            </thead>
            <tbody>
              @for (c of clients; track c.personId) {
              <tr (click)="selectClient(c)">
                <td>{{ c.name }}</td>
                <td>{{ c.documentPerson }}</td>
              </tr>
              }
            </tbody>
          </table>
        </div>
        }
      </div>
      @if (user.userId !== '' && user.userId !== ' ') {
      <div class="campos">
        <div>
          <label class="color-blanco">Tipo de Documento</label>
        </div>
        <div class="campo-input">
          <input [(ngModel)]="person.documentType.documentType" type="documentTypePerson" [readonly]="true">
        </div>
      </div>
      <div class="campos">
        <div>
          <label class="color-blanco">Documento</label>
        </div>
        <div class="campo-input">
          <input [(ngModel)]="person.documentPerson" type="document" [readonly]="true">
        </div>
      </div>
            <div class="campos span-2">
        <div>
          <label class="color-blanco">User ID</label>
        </div>
        <div class="campo-input">
          <input [(ngModel)]="user.userId" type="userId" [disabled]="true">
        </div>
      </div>
      }
      <div class="campos">
        <div>
          <label class="color-blanco">Username</label>
        </div>
        <div class="campo-input">
          <input [(ngModel)]="user.username" type="username" [readonly]="!canEdit('username')">
        </div>
      </div>
      <div class="campos">
        <div>
          <label class="color-blanco" for="">Roles</label>

        </div>
        <div class="campo-input">
          <select class="form-select" name="role" [(ngModel)]="selectedRoleId" (ngModelChange)="onRoleSelected($event)"
            required [disabled]="!canEdit('')">
            <option value="" disabled>Seleccione opción</option>
            @for (role of roles; track role.roleId) {
            <option [value]="role.roleId">{{ role.roleName }}</option>
            }
          </select>
        </div>
      </div>
      <div class="campos">
        <div>
          <label class="color-blanco">Fecha de Creación</label>
        </div>
        <div class="campo-input">
          <input [(ngModel)]="user.createdAt" type="text" [disabled]="!canEdit('createdAt')">
        </div>
      </div>


      <div class="campos">
        <div>
          <label class="color-blanco">Fecha de Ultima Actualización</label>

        </div>
        <div class="campo-input">
          <input [(ngModel)]="user.passUpdateAt" type="text" [disabled]="!canEdit('updateDate')">
        </div>
      </div>


      <div class="campos">
        <div>
          <label class="color-blanco" class="color-blanco">Necesita Cambiar Contraseña</label>
        </div>
        <div class="campo-input">
          <select class="form-select" name="enabled" [disabled]="!canEdit('')" [(ngModel)]="user.mostChangePass"
            (ngModelChange)="onEnabledChange($event)" required>
            <!-- Placeholder: seleccionado solo cuando el valor es '' -->
            <option value="" disabled>
              Seleccione opción
            </option>

            <!-- Opciones reales -->
            @for (pt of types; track pt) {
            <option [value]="pt">
              {{ pt ? 'Sí' : 'No' }}
            </option>
            }
          </select>
        </div>
      </div>

      <div class="campos">
        <div>
          <label class="color-blanco" class="color-blanco">Habilitado</label>
        </div>
        <div class="campo-input">
          <select class="form-select" name="enabled" [disabled]="!canEdit('')" [(ngModel)]="user.enabled"
            (ngModelChange)="onEnabledChange($event)" required>
            <!-- Placeholder: seleccionado solo cuando el valor es '' -->
            <option value="" disabled>
              Seleccione opción
            </option>

            <!-- Opciones reales -->
            @for (pt of types; track pt) {
            <option [value]="pt">
              {{ pt ? 'Sí' : 'No' }}
            </option>
            }
          </select>
        </div>
      </div>
    </div>
    @if(mode !== 'view') {
    <div class="flex">
      <div class="btn-right">
        <button class="btn btn-primary" (click)="save()">Guardar</button>
      </div>
    </div>
    }
  </div>
</div>