$fuente_principal:"Krub", sans-serif;

$oscuro: #000000;
$blanco: #FFFFFF;
$noTanBlanco: #f7f7f7;
$azul: #2563eb;

$primario: #303240;
$secundario: #1f212b;

$telefono: 480px;
$tablet:769px;
$desktop:1200px;
$desktopXL: 1400px;