<div class="contenedor">
    <div class="header">
      <h1 class="color-blanco cliente-titulo">Devoluciones</h1>
      <div class="bnt-rigth">
        <button class="btn btn-primary" type="button" [routerLink]="['/auth/ventas/devoluciones/new']">
        Nueva Devolución
      </button>
      </div>
  </div>

<div class="page">
  <div class="card">

    <div class="table-wrapper">
      <table class="table">
        <thead class="table-header">
          <tr>
            <th class="color-blanco">Id devolución</th>
            <th class="color-blanco">Id Factura</th>
            <th class="color-blanco">Nombre</th>
            <th class="color-blanco">Ver</th>
          </tr>
        </thead>

        <tbody>
            @for(c of clientes; track c) {
                <tr>
                    <td class="color-blanco">{{ c.nombre }}</td>
                    <td class="color-blanco">{{ c.email }}</td>
                    <td class="color-blanco">{{ c.telefono }}</td>
                    <td class="actions">
                    <button class="btn btn-success" type="button" [routerLink]="['/auth/ventas/devoluciones/view/'+c.id]">
                     Ver
                    </button>
                    </td>   
          </tr>
            }
          
            @if (clientes.length === 0) {
                <tr>
            <td colspan="4" class="empty">No hay clientes registrados.</td>
                </tr> 
            }
          
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

