<div class="contenedor">
@if (true) {
    <div class="quick-actions">
        <h3 class="quick-actions--title">Mantenimientos</h3>
        <div class="quick-actions--actions">
            <div class="quick-actions--action"> 
            <h4 class="color-blanco">Mantenimientos</h4>
            <div class="quick-action--image" > <!-- //poner aqui un metodo para deririgir y que sea como boton -->
                     
            </div>
        </div>
        <div class="quick-actions--action">
            <h4 class="color-blanco">Mantenimientos</h4>
            <div class="quick-action--image" >
                     
            </div>
        </div>
        <div class="quick-actions--action">
            <h4 class="color-blanco">Mantenimientos</h4>
            <div class="quick-action--image" >
                     
            </div>
        </div> 
        </div>   
    </div>
    <div class="quick-actions">
        <h3 class="quick-actions--title">Ventas Seccion Dos</h3>
        <div class="quick-actions--actions">
            <div class="quick-actions--action"> 
            <h4 class="color-blanco">Mantenimientos</h4>
            <div class="quick-action--image" > <!-- //poner aqui un metodo para deririgir y que sea como boton -->
                     
            </div>
        </div>
        <div class="quick-actions--action">
            <h4 class="color-blanco">Mantenimientos</h4>
            <div class="quick-action--image" >
                     
            </div>
        </div>
        <div class="quick-actions--action">
            <h4 class="color-blanco">Mantenimientos</h4>
            <div class="quick-action--image" >
                     
            </div>
        </div> 
        </div>   
    </div>
    <div class="quick-actions">
        <h3 class="quick-actions--title">Ventas Seccion Tres</h3>
        <div class="quick-actions--actions">
            <div class="quick-actions--action"> 
            <h4 class="color-blanco">Mantenimientos</h4>
            <div class="quick-action--image" > <!-- //poner aqui un metodo para deririgir y que sea como boton -->
                     
            </div>
        </div>
        <div class="quick-actions--action">
            <h4 class="color-blanco">Mantenimientos</h4>
            <div class="quick-action--image" >
                     
            </div>
        </div>
        <div class="quick-actions--action">
            <h4 class="color-blanco">Mantenimientos</h4>
            <div class="quick-action--image" >
                     
            </div>
        </div> 
        </div>   
    </div>
}
