<div class="contenedor">
  <div class="header">
    <h1 class="color-blanco cliente-titulo">{{ title() }}</h1>

    <div class="bnt-rigth">
      <button class="btn btn-primary" type="button" (click)="create()">
        Agregar
      </button>
    </div>
  </div>

  <div class="page">
    <div class="card">
      <div class="table-wrapper">
        <table class="table">
          <thead class="table-header">
            <tr>
              <th class="color-blanco">Nombre</th>
              <th class="color-blanco">Correo Electrónico</th>
              <th class="color-blanco">Teléfonos</th>
              <th class="color-blanco">Habilitado</th>
              <th class="color-blanco">Editar</th>
              <th class="color-blanco">Eliminar</th>
            </tr>
          </thead>

          <tbody>
            @for(p of persons; track p.personId) {
              <tr class="cursor" (click)="view(p.personId)">
                <td class="color-blanco">{{ p.name }}</td>
                <td class="color-blanco">{{ p.email }}</td>
                <td class="color-blanco">
                  @for(phone of p.phones; track phone) {
                    <div>{{ phone }}</div>
                  }
                </td>
                <td class="color-blanco">{{ p.enabled }}</td>

                <td class="actions">
                  <button class="btn btn-success" type="button"
                          (click)="$event.stopPropagation(); update(p.personId)">
                    Editar
                  </button>
                </td>

                <td>
                  <button class="btn btn-danger" type="button"
                          (click)="$event.stopPropagation(); deletePerson(p.personId)">
                    Eliminar
                  </button>
                </td>
              </tr>
            }

            @if (persons.length === 0) {
              <tr>
                <td colspan="6" class="empty">No hay registros.</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <auth-paginator [paginator]="paginator" [url]="url"></auth-paginator>
</div>